$color-primary: #dcf2e8;
$color-secondary: #63f2d8;
$color-third: #04bf9d;
$color-fourth: #013440;
$color-fifth: #010326;

$color-purple: #9094ff;
$color-light-grey: #ebebeb;
$color-dark: #343434;
$max-width: 1000px;
$general-padding: 5% 7%;

$dash-size: 5px;
$theme-color: mediumseagreen;
$fill-color: beige;

@mixin centered {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  @include smallerThanDesktop {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin smallerThanDesktop {
  @media (max-width: 1000px) {
    @content;
  }
}

.primaryButton {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.primaryButton:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
