$color-primary: #dcf2e8;
$color-secondary: #63f2d8;
$color-third: #04bf9d;
$color-fourth: #013440;
$color-fifth: #010326;

$color-purple: #9094ff;
$color-light-grey: #ebebeb;
$color-dark: #343434;
$max-width: 1000px;

@mixin centered {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  @include smallerThanDesktop {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin smallerThanDesktop {
  @media (max-width: 1000px) {
    @content;
  }
}
