@use "mixins";

.footer {
  color: white;
  background: mixins.$color-fourth;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &__left {
    margin-right: auto;
  }
  a {
    color: white;
  }
}
