@use "mixins";

.footer {
  color: white;
  background: mixins.$color-fourth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  text-align: center;
  &__left {
    margin-right: auto;
  }
  a {
    color: white;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
