@use "mixins";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  height: 20%;
}

main {
  flex: 1;
}

footer {
  height: 15%;
}

.product-list {
  @include mixins.centered;
}
