.colourBlock {
  background-image: url("/soil.png");
  background-repeat: no-repeat;
  background-position: 25% 50%;
  background-size: cover;
  width: 100%;
  padding: 1% 5%;
  color: #fff;
}
.whiteBlock {
  background-image: url("/flowersBG.png");
  background-repeat: no-repeat;
  background-position: 25% 50%;
  background-size: cover;
  width: 100%;
  padding: 3% 2%;
  color: #369a7e;
  border: 5px solid black;;
}

