@use "mixins";

.productList {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  h1{
    color: rgb(255, 255, 255);

    background: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-style: oblique;
  }
}



.productContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5%;
}

.productItem {
  flex: 1 0 21%; 
  margin: 1.5%; 
  img {
    width: 250px;
    height: auto;
  }
}
